*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
*.tfvars.json
!*.tfvars.json.example
*.tfbackend
!*.tfbackend.example
.terraform/
.terraform.d/
.terraformrc
terraform.rc
credentials.tfrc.json
*.auto.tfvars
*.lock.hcl
terraform-plugin-proxmox.log
