proxmox_endpoint         = "https://10.0.0.162:8006/"
proxmox_insecure         = true
proxmox_ssh_node_address = "10.0.0.162"
target_node_name         = "hp1"
target_storage           = "nvme-local"
image_storage            = "local"
snippets_storage         = "snippetsogISO"
pool_name                = "homelab"
vm_id                    = 9001
vm_name                  = "ubuntu-noble-test-01"
vm_description           = "Managed by Terraform"
vm_tags                  = ["terraform", "ubuntu", "test"]
vm_cpu_cores             = 2
vm_memory_mb             = 4096
vm_disk_size_gb          = 60
vm_bridge                = "vmbr0"
vm_vlan_id               = 110
vm_ipv4_address          = "dhcp"
vm_ipv4_gateway          = "10.0.0.161"
vm_dns_servers           = ["1.1.1.1", "8.8.8.8"]
vm_username              = "ubuntu"
vm_ssh_public_keys = [
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL6rilckgv40NViw/SrFwiGMbWeaxc/pT6yE8GGoOcKS ljn@WORKSTATION",
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKEPk8EwvWaugg+Cmj3JBgHzTJEj4nM2BNdPSu/0LRuw ubuntu@bastion01"
]
workstation_ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL6rilckgv40NViw/SrFwiGMbWeaxc/pT6yE8GGoOcKS ljn@WORKSTATION"
bastion_ssh_public_key     = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKEPk8EwvWaugg+Cmj3JBgHzTJEj4nM2BNdPSu/0LRuw ubuntu@bastion01"
